@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-bg-color: rgb(31, 53, 88);
}


/* sasindi css------------------------------------------------------------------------------------*/
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");



/* Global Styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Raleway", sans-serif !important;
  background-color: var(--main-bg-color) !important;
}


p,
a,
a:hover,
a:focus {
  font-family: "Poppins", sans-serif;
  transition: all 0.3s;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 20px !important;
}

h5,
.editorjsdiv h5 {
  font-size: 16px;
}

.editorjsdiv h3,
.editorjsdiv h4 {
  font-size: 16px;
}

.editorjsdiv li {
  margin-bottom: 10px;
  list-style-type: disc;
  padding-left: 10px;
  margin-left: 25px;
}

/* Forms */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-moz-inner-spin-button,
input[type="number"]::-moz-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

select {
  box-shadow: none;
  border-color: rgb(116, 116, 116) !important;
}

/* Buttons */
.btn {
  background-color: rgb(133, 95, 64) !important;
  box-shadow: #696969;
  color: antiquewhite;
}

/* Navbar */
.navbar {
  background: #202020;
  padding: 15px 10px 2px 10px !important;
  position: fixed !important;
  top: 0;
  z-index: 100;
  display: flex;
  width: 100%;
  border-radius: 0;
  border: none;
  margin-bottom: 0 !important;
}


/* Sidebar */
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  margin-top: 56px;
}

#sidebar {
  min-width: 280px;
  max-width: 250px;
  background: rgb(31, 53, 88);
  color: #000000;
  transition: all 0.3s;
  position: fixed;
  height: 700px;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar ul li a {
  padding: 20px;
  font-size: 1em;
  display: block;
  color: #ffffff;
}

#sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
}

/* Cart */
.cartitem {
  background-color: rgb(39, 59, 91);
  border-color: #122e11 !important;
  border-radius: 20px;
  padding: 35px;
  margin: 20px;
  display: flex;
  box-shadow: rgb(183, 183, 183), 5px;
  color: rgb(220, 220, 220);
  font-size: 15px;
}

.cart {
  background-color: rgb(255, 255, 255) !important;
  padding: 10px;
  background-blend-mode: darken;
}

/* Misc */
.img-gradient {
  background: linear-gradient(
    to right,
    rgba(250, 112, 154, 0.5),
    rgba(254, 225, 64, 0.5)
  );
}

.active-link {
  color: #1e73be;
}

.search-n-grid {
  position: relative;
  width: 100%;
  /* margin-left: 290px; */
}

/*.container {
  position: fixed;
  top: 70px;
  margin-left: 500px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 139, 0),
    rgba(21, 29, 67, 0.5)
  );
  color: #ffffff;
  width: 50px;
  border-radius: 8px;
}*/
/*sasindi css end----------------------------------------------------------------------------------------------------------*/






code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  font-size: 20px !important;
}
.flex-container {
  display: flex;
  background-color: rgb(255, 255, 255);
}
.btn {
  margin-top: "10px";
  /* background-color: rgb(133, 95, 64) !important; */
  background-color: #0e0e0eda !important;
  box-shadow: #696969;
  color: antiquewhite !important;
}

select {
  box-shadow: none;
  border-color: rgb(116, 116, 116) !important;
}

.fa-plus-square {
  color: #f1eedf;
  margin: 5px;
}
.fa-minus-square {
  color: #e2e3e2;
  margin: 5px !important;
}
.cartitem {
  background-color: rgb(39, 59, 91);
  border-color: #122e11 !important;
  border-radius: 20px;
  border-width: 2px;
  padding: 35px;
  margin: 20px;
  display: flex;
  box-shadow: rgb(183, 183, 183), 5px;
  color: rgb(220, 220, 220);
  font-size: 15px;
}
.cart {
  background-color: rgb(255, 255, 255) !important;
  padding: 10px;
  background-blend-mode: darken;
}
/* .nav {
  position: fixed !important;
} */


.row {
  height: 100px;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}



.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.dash-background-img{
height: 90vh;
width: 100%;
overflow: hidden;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  margin-top: 0px;
  margin-top: 56px;
}

#sidebar {
  min-width: 280px;
  max-width: 250px;
  background: rgb(31, 53, 88);
  color: #000000;
  transition: all 0.3s;
  margin-left: 0px;
  position: fixed;
  height: 700px;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #ffffff;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #ffffff;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 20px;
  font-size: 1em;
  display: block;
  align-self: start;
  color: #ffffff;
  align-items: start;
}

#sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.4em !important;
  padding-left: 0px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386d5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
.form-group{
  text-align: start;
  margin-bottom: 20px !important;
}
.form-group input{
  border: 1px solid #363636 ;
}
.items-center input{
  border: 1px solid #363636 !important ;
  width: 80%;
border-radius: 5px;
height: 40px;
}
.items-center textarea{
  border: 1px solid #363636 !important ;
  width: 80%;
border-radius: 5px;
height: 80px !important;
}
.text-display{
  display: flex;
  justify-content: space-between;
text-align: start;
  width: 40%;
  border: 1px solid #363636 !important;
  border-radius: 5px;
  padding: 5px;
}
.text-display strong{
  margin-right: 70px;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}

/* ----------------------------------- image transparency*/
/*
source
http://stackoverflow.com/a/23935891/3853728
*/

.img-gradient {
  .gradient-custom {
    /* fallback for old browsers */
    background: #fa709a;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
      to right,
      rgba(250, 112, 154, 0.5),
      rgba(254, 225, 64, 0.5)
    );

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
      to right,
      rgba(250, 112, 154, 0.5),
      rgba(254, 225, 64, 0.5)
    );
  }
}

.search-n-grid {
  position: relative;
  width: 100%;
  /* margin-left: 290px; */
}

.container {
  position: fixed;
right: 0;
left: 0;
  top: 70px; /* Distance from the top */
  margin-left: 500px;
  padding-bottom: 50px;
  background: linear-gradient(
    to bottom,
    /* Dark blue at the top with 80% opacity */ rgba(0, 0, 139, 0),
    rgba(21, 29, 67, 0.5) /* Fully transparent at the bottom */
  );

  color: #ffffff;
  width: 50px;
  border: none;
  border-radius: 8px;

  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.5); /* Black shadow */
  z-index: 2; /* Ensure it's above the grid */
  outline: none;
}
.container-dash{
  position: fixed;
  right: 0;
  left: 0;
    top: 50%; /* Distance from the top */
    /* margin-left: 500px; */
    padding-bottom: 50px;
    /* background: black; */
    background: rgba(0, 0, 0, 0.7);
  
    color: #ffffff;
    width: 50px;
    border: none;
    border-radius: 8px;
    /* box-shadow: 0 0px 4px rgba(0, 0, 0, 0.5);  */
    z-index: 2; /* Ensure it's above the grid */
    outline: none;
}


.lete {
  font-weight: 200;
  font-size: 4em;
  margin-top: 30px;
  transition: 1s;
  width: 900px;
  justify-items: center;
  /* left: 0;
  right: 0; */
  /* justify-content: center; */
  /* align-items: center; */
  animation: pulse 2s infinite ease-in-out;

}
.lete:hover{
  scale: 1.1;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Scales up */
  }
  100% {
    transform: scale(1); /* Scales back to normal */
}}

.btn-serch {
  margin-left: 200px;
}

.custom-margin {
  margin-left: 1000px;
  margin-top: 40px;
}
